.custom-modal{
    --height: 50%;    
}

.container{
    padding-left: 10px;
    padding-right: 10px;
}

ion-input{
    border-bottom-style: dotted;
    border-color: silver;
    margin-bottom: 10px;
}
